.page {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 98px;
}

.page__body {
    min-width: 375px;
    height: 200vw;
    background-color: var(--bg-color);
}

.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

.img {
    object-fit: cover;
}

a:focus-visible,
button:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
}

.text-light,
.text-regular {
    font-size: 16px;
    line-height: 140%;
    color: var(--main-color);
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.title-sm,
.title-md {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
}

.title-sm {
    font-size: clamp(24px, 16.37px + 2.04vw, 32px);
}

.title-md {
    font-weight: 600;
    /* min-width 375px max-width992px */
    font-size: clamp(32px, 0.936rem + 4.538vw, 60px);
    text-transform: uppercase;
    color: var(--main-color);
}

@media (width > 576px) {
    .section {
        padding-bottom: 140px;
    }

    .section-title {
        margin-bottom: 40px;
    }
}

@media (width <=576px) {
    .section {
        padding-bottom: 80px;
    }

    .section-title {
        margin-bottom: 30px;
    }
}