/* base */
@import "./base/fons.css";   
@import "./base/normalize.css";
@import "./base/vars.css";
@import "./base/globals.css";

/* blocks */
@import "./blocks/header.css";
@import "./blocks/menu.css";
@import "./blocks/burger.css";
@import "./blocks/hero.css";
@import "./blocks/air-mag.css";
@import "./blocks/sizes.css";