.brands {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	height: 122px;
	gap: 106px;
	z-index: var(--layer-3);
	background: var(--main-color);
}

.container__brends {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.brands a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.brands svg {
	max-width: 100%;
	height: auto;
	fill: currentColor;
}


@media (width <=992px) {
	div.brands {
		flex-wrap: wrap;
		gap: 20px;
	}
	.Calvin Kliein.svg{
		width: 100px;
		height: 10px;
	}
}
