@media(width > 768px){
    .burger{
        display: none;
    }
}

@media(width <= 768px){
    .burger{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: var(--layer-3);
    }
    .burger__icon-burger,
    .burger--open 
    .burger__icon-cross{
        display: block;
    }

    .burger__icon-cross,
    .burger--open 
    .burger__icon-burger{
        display: none;
    }
}